<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.soft.apt.mapper.SignUp.JobSeekerUserMapper">

   <select id="jblogin" parameterType="String" resultType="MemberLoginDTO">
       select
       JOBSEEKER_EMAIL as email ,JOBSEEKER_PASSWORD as password
       from
       jobseeker_users
       where
       JOBSEEKER_EMAIL = #{parm}
   </select>

    <insert id="jbsignup" parameterType="JobSeekerUserDTO">
        INSERT INTO JOBSEEKER_USERS (
        JOBSEEKER_EMAIL,
        JOBSEEKER_PASSWORD,
        JOBSEEKER_NAME,

        CREATE_AT,
        JOBSEEKER_PHONE,
        JOBSEEKER_BIRTH

        )
        VALUES (
        #{email},
        #{password},
        #{name},

        sysdate(),
        #{phone},
        #{birthDate}

        )
    </insert>


</mapper>