<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.soft.apt.mapper.CoverMapper">
    
    <insert id="writeCover" parameterType="CoverWriteDTO">
        INSERT INTO cover_posts
        (HOPE_JOB, HOPE_REGION, EDUCATION, MILITARY_STATUS, CAREER, KEYSKILL, CERTIFICATION, LANGUAGE_SKILL, APPLY_MOTIVE, GROWTH_PROCESS, PERSONALITY, JOB_EXPERIENCE, IMAGE_URL, JOBSEEKER_IDX)
        VALUES
        (#{hopeJob}, #{hopeRegion}, #{education}, #{militaryStatus}, #{career}, #{keySkill}, #{certification}, #{languageSkill}, #{applyMotive}, #{growthProcess}, #{personality}, #{jobExperience}, #{imageUrl}, #{jobseekerIdx})
    </insert>

    <select id="userInfo" resultType="CoverInfoDTO" parameterType="long">
        select
            JOBSEEKER_NAME,
            JOBSEEKER_BIRTH,
            JOBSEEKER_EMAIL,
            JOBSEEKER_PHONE
        from
            jobseeker_users
        where
            JOBSEEKER_IDX = #{value}
    </select>

    <update id="updateCover" parameterType="CoverUpdateDTO">
        UPDATE
            cover_posts
        SET
            HOPE_JOB = #{hopeJob},
            HOPE_REGION = #{hopeRegion},
            EDUCATION = #{education},
            MILITARY_STATUS = #{militaryStatus},
            CAREER = #{career},
            KEYSKILL = #{keySkill},
            CERTIFICATION = #{certification},
            LANGUAGE_SKILL = #{languageSkill},
            APPLY_MOTIVE = #{applyMotive},
            GROWTH_PROCESS = #{growthProcess},
            PERSONALITY = #{personality},
            JOB_EXPERIENCE = #{jobExperience},
            IMAGE_URL = #{imageUrl}
        WHERE
            JOBSEEKER_IDX = #{jobseekerIdx}
    </update>
    
    <select id="readCover" parameterType="long" resultType="CoverReadDTO">
        select
            HOPE_JOB,
            HOPE_REGION,
            EDUCATION,
            MILITARY_STATUS,
            CAREER,
            KEYSKILL,
            CERTIFICATION,
            LANGUAGE_SKILL,
            APPLY_MOTIVE,
            GROWTH_PROCESS,
            PERSONALITY,
            JOB_EXPERIENCE,
            IMAGE_URL
        from
            cover_posts
        where
            JOBSEEKER_IDX = #{value}
        limit 1
    </select>
</mapper>